
.mainBlog{
  font-size: 20px;
  height: 60.938rem;
  background: image-url("Blog_Master_Logo.JPG") right top no-repeat;
  background-size: cover;
  color: brown; text-align: left;
  padding-top: 8rem;
  padding-left: 4rem;
}