// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .pins {
	margin: 0 auto;
}
.box {
	
	margin: 5px;
	width: 214px;
}
.box img {
	
  width: 100%;
}

.mainIntro{
	font-size: 20px;
	height: 60.938rem;
	background: image-url("MasterLogo.JPG") right top no-repeat;
	background-size: cover;
	color: brown; text-align: center;
	padding-top: 8rem;
}


.choice {
		margin-top: 160px;
	}

.choice .continent{
        font-size: 20px;
        margin-right: 30px;
		color: brown;
		display: inline-block;
		text-align: center;
	}
	.choice a {

	color: brown;
	}


